/* .App{
    width: 100%;
    background-image: url('../assets/images/607866.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } */
.App{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(145,217,243,1) 0%, rgba(147,164,243,1) 90% );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}