.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    width: 940px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 1em;
    margin: 0.5em;
    overflow: hidden;
}
.banner{
    width: 100%;
}
.contentCard{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.contentCard h2{
    font-family: AnimeAce;
}
.contentCard h3 {
    font-family: AnimeAce;
}
.image, .image img{
    width: 100%;
    height: 130px;
}
.description{
    margin: 1em;
    font-family: AnimeQuick;
}
.check{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: AnimeAce;

}
.check img{
    margin-left: 0.5em;
}

@media screen and (max-width:600px){
    .card{
        width: 90%;
        margin: 0;
        margin-bottom: 1em;
    }
}