.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    margin: 0.5em;
    cursor: pointer;
}
.card img{
    border-radius: 0.5em;
}
.trailer{
    cursor:grabbing;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: textAnime2;
    font-size: 1.5rem;
    margin: 0;
}
.notrailer{
    cursor:grabbing;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: textAnime2;
    font-size: 1.5rem;
    margin: 0;
}
.trailer img{
    margin: 0;
    margin-left: 0.5em;
}
.trailer:hover{
    color: chocolate;
}