.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    margin: 0.5em;
    cursor: pointer;
}
.card img{
    border-radius: 0.5em;
}
.trailer{
    cursor:grabbing;
    text-align: center;
}
.trailer:hover{
    color: chocolate;
}