@font-face {
    font-family: titleAnime;
    src: url('../assets/fonts/bumper_sticker/Bumper\ Sticker\ DEMO.otf');
}
@font-face {
    font-family: textAnime2;
    src: url('../assets/fonts/orange_juice_2/Orange\ Juice.ttf');
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}
.titleAnime{
    font-family: titleAnime;
}
.contentAll{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contentCards{
    width: 99%;
    height: 50%;
    display: flex;
    flex-direction:row;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.contentGenres{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.listGenres{
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 2em;
}
.listGenres li{
    width: 100%;
    border: 2px solid black;
    cursor: pointer;
    margin: 0.5em;
    border-radius: 0.5em;
    font-family: textAnime2;
    font-size: 1.6rem;
}
.link{
    text-decoration: none !important;
}
.listGenres li:hover{
    color:chocolate;
}
.card{
    margin: 0.5em;
    cursor: pointer;
    text-align: center;
}
.card img{
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.trailer{
    cursor:grabbing;
    text-align: center;
}
.trailer:hover{
    color: chocolate;
}
.contentImage{
    width: 282px;
    position: relative;
}
.name{
    display: none;

}
.contentImage:hover .name{
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: textAnime2;
    font-size: 1.6rem;
    text-shadow: 2px 2px 4px white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25%;
}
.contentImage img:hover{
    filter:brightness(0.4);
}
.listColumns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
