@font-face {
    font-family: Anime;
    src: url('../assets/fonts/agent_orange/AGENTORANGE.TTF');
}
@font-face {
    font-family: TextAnime;
    src: url('../assets/fonts/orange_juice_2/Orange\ Juice.ttf');
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.title, .searchbar, .user{
    width: 33.3%;
}
.title, .user{
    display: flex;
    align-self: center;
}
.title h1{
    cursor: pointer;
    font-family: Anime;
    margin: 0;
    margin-left: 0.2em;
}
.title h1:hover{
    position: relative;
    bottom: 0.1em;
}
.searchbar{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.searchbar label{
    font-family: titleAnime;
    margin-left: 5em;
}
.searchbar div{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.barSearch{
    border: none;
    width: 100%;
    border-radius: 0.4em;
    outline: none;
    text-align: center;
    font-family: TextAnime;
    font-size: 2rem;
    box-shadow: 1px 1px 3px black inset;
    margin-top: 0;
}
.button{
    cursor: pointer;
    font-family: TextAnime;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 0.4em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.button:hover{
    filter: brightness(0.8);
    color: rgb(32, 55, 184);
}
.user {
    justify-content:flex-end;
}
.user img{
    padding-right: 0.2em;
}

@media screen and (max-width:600px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .title, .searchbar, .user{
        width: 100%;
        text-align: center;
    }
    .user h2{
        display: block;
        float: none;
    }
    .searchbar div{
        display: flex;
        width: 80%;
        margin: 0.2em;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .button{
        width: 100px !important;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
    }

}