.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}
.cuantity{
    padding: 0;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}
.cuantity li{
    list-style: none;
    margin: 0.5em;
    cursor: pointer;
    font-family: textAnime2;
    font-size: 1.5rem;
}
.cuantity li:hover{
    color:chocolate;
}