.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.container h1 {
    font-family: titleAnime;
}
.container p{
    font-family: AnimeAce;
}